/* General style for jconroy14.github.io */

* {
    font-family: sans-serif;
}

div, span, p {
    font-size: 16px;
}

body {
    max-width: 800px;
    margin: auto;
}

.title {
    text-align: center;
}