body {
    max-width: 750px;
    margin: auto;
}

.header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.inline_header {
    font-weight: bold;
}

.role {
    font-style: italic;
}

.date {
    float: right;
}